<a href="https://colab.research.google.com/github/athirach/Learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\nboolean mask where value is nan: \n",df1.isnull())
print("\nRemoving the row with missing data: \n",df1.dropna())

                   A         B         C         D   F    E
2021-01-01  0.314168  0.398104  0.651397  0.041811 NaN  1.0
2021-01-02 -0.661100 -0.842741 -0.672580  1.069834 NaN  1.0
2021-01-03  0.342913 -0.760198  2.225405 -0.942966 NaN  NaN
2021-01-04  2.363427 -0.537543 -0.216100 -0.477089 NaN  NaN

boolean mask where value is nan:
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

Removing the row with missing data:
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\n Filling the row with missing data with 20: \n",df1.fillna(value=20))

                   A         B         C         D   F    E
2021-01-01  0.205512 -0.484120 -0.637542  0.821249 NaN  1.0
2021-01-02 -2.014326  1.363052 -1.472129  0.780350 NaN  1.0
2021-01-03  0.117587  0.114379  0.825131  0.173921 NaN  NaN
2021-01-04 -0.041764  2.282445 -0.973699  1.431629 NaN  NaN

 Filling the row with missing data with 20:
                    A         B         C         D     F     E
2021-01-01  0.205512 -0.484120 -0.637542  0.821249  20.0   1.0
2021-01-02 -2.014326  1.363052 -1.472129  0.780350  20.0   1.0
2021-01-03  0.117587  0.114379  0.825131  0.173921  20.0  20.0
2021-01-04 -0.041764  2.282445 -0.973699  1.431629  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
pieces=[df[:3],df[3:8]]
print("\n Pieces of data from 0 to 2,3 to 7: \n",pieces[0],"\n",pieces[1])
print("\n Concatenated pieces: \n",pd.concat(pieces))
print("\n Concatenate the pieces along axis 1:\n",pd.concat(pieces,axis=1))
a=pieces[0]
b=pieces[1]
print("\n Concatenation of a and b:\n",pd.concat([a,b]))

          0         1         2         3
0 -1.168623 -0.289591  1.009815  0.075767
1  0.237147  0.638683  0.390121  2.222948
2  0.261967  0.452618 -0.195092 -0.926461
3 -0.752764  0.009086  0.150364  1.650599
4 -3.067281 -0.509871 -0.018103 -0.085863
5 -0.998156 -1.680786  0.686169 -1.024416
6 -1.312013 -0.029055  0.282700  1.187369
7 -0.286057 -0.083526 -0.175839 -0.877239
8  2.033061 -0.861415 -0.735882  1.892558
9  0.914210 -0.121365  1.099926  0.895878

 Pieces of data from 0 to 2,3 to 7:
           0         1         2         3
0 -1.168623 -0.289591  1.009815  0.075767
1  0.237147  0.638683  0.390121  2.222948
2  0.261967  0.452618 -0.195092 -0.926461
           0         1         2         3
3 -0.752764  0.009086  0.150364  1.650599
4 -3.067281 -0.509871 -0.018103 -0.085863
5 -0.998156 -1.680786  0.686169 -1.024416
6 -1.312013 -0.029055  0.282700  1.187369
7 -0.286057 -0.083526 -0.175839 -0.877239

 Concatenated pieces:
           0         1         2         3
0 -1.168623 -0.289591  1.009815  0.075767
1  0.237147  0.638683  0.390121  2.222948
2  0.261967  0.452618 -0.195092 -0.926461
3 -0.752764  0.009086  0.150364  1.650599
4 -3.067281 -0.509871 -0.018103 -0.085863
5 -0.998156 -1.680786  0.686169 -1.024416
6 -1.312013 -0.029055  0.282700  1.187369
7 -0.286057 -0.083526 -0.175839 -0.877239

 Concatenate the pieces along axis 1:
           0         1         2  ...         1         2         3
0 -1.168623 -0.289591  1.009815  ...       NaN       NaN       NaN
1  0.237147  0.638683  0.390121  ...       NaN       NaN       NaN
2  0.261967  0.452618 -0.195092  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.009086  0.150364  1.650599
4       NaN       NaN       NaN  ... -0.509871 -0.018103 -0.085863
5       NaN       NaN       NaN  ... -1.680786  0.686169 -1.024416
6       NaN       NaN       NaN  ... -0.029055  0.282700  1.187369
7       NaN       NaN       NaN  ... -0.083526 -0.175839 -0.877239

[8 rows x 8 columns]

 Concatenation of a and b:
           0         1         2         3
0 -1.168623 -0.289591  1.009815  0.075767
1  0.237147  0.638683  0.390121  2.222948
2  0.261967  0.452618 -0.195092 -0.926461
3 -0.752764  0.009086  0.150364  1.650599
4 -3.067281 -0.509871 -0.018103 -0.085863
5 -0.998156 -1.680786  0.686169 -1.024416
6 -1.312013 -0.029055  0.282700  1.187369
7 -0.286057 -0.083526 -0.175839 -0.877239