<a href="https://colab.research.google.com/github/athirach/Learn.py/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
group=df.groupby('A')
print("Sum of the groups: \n",group.sum())
print("3 least elements from the column D: \n",df['D'].nsmallest(3))
print("3 largest elements from the column D which belongs to the group 'bar':\n",group['D'].get_group('bar').nlargest(3))

Sum of the groups:
             C         D
A
bar  0.082179  2.389408
foo -3.946242 -0.876635
3 least elements from the column D:
 4   -0.935756
0   -0.806292
2   -0.590877
Name: D, dtype: float64
3 largest elements from the column D which belongs to the group 'bar':
 5    1.548950
3    1.028651
1   -0.188192
Name: D, dtype: float64

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print(df)
df.to_csv('csvFile.csv')
print("CSS FILE: \n",pd.read_csv('csvFile.csv'))
df.to_excel('excelFile.xlsx')
print("EXCEL FILE: \n ",pd.read_excel('excelFile.xlsx'))

     A      B         C         D
0  foo    one -0.258300  0.019105
1  bar    one -0.362840 -0.432225
2  foo    two  0.017718  1.282459
3  bar  three -1.886646  0.950025
4  foo    two  0.536761 -0.800399
5  bar    two -1.287658 -0.162561
6  foo    one  0.657075 -1.014682
7  foo  three -0.718221 -1.277677
CSS FILE:
    Unnamed: 0    A      B         C         D
0           0  foo    one -0.258300  0.019105
1           1  bar    one -0.362840 -0.432225
2           2  foo    two  0.017718  1.282459
3           3  bar  three -1.886646  0.950025
4           4  foo    two  0.536761 -0.800399
5           5  bar    two -1.287658 -0.162561
6           6  foo    one  0.657075 -1.014682
7           7  foo  three -0.718221 -1.277677
EXCEL FILE:
     Unnamed: 0    A      B         C         D
0           0  foo    one -0.258300  0.019105
1           1  bar    one -0.362840 -0.432225
2           2  foo    two  0.017718  1.282459
3           3  bar  three -1.886646  0.950025
4           4  foo    two  0.536761 -0.800399
5           5  bar    two -1.287658 -0.162561
6           6  foo    one  0.657075 -1.014682
7           7  foo  three -0.718221 -1.277677